In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('C://Users//demey//Documents//2024-2025//Industry Project//Bariatric Project Study Data 202505.xlsx', sheet_name='Sheet1')

In [6]:
core_X_data=df[['gender', 'age', 'height', 'weight', 'bmi', 'ibw', 'ebw', 'surgical_hist_cnt', 'family_hist_cnt', 'chronic_meds_cnt', 'cm_count']].copy()

In [7]:
core_X_data.head()

,gender,age,height,weight,bmi,ibw,ebw,surgical_hist_cnt,family_hist_cnt,chronic_meds_cnt,cm_count
0,Female,50,154,146.0,61.56,55.99,90.01,0,0,0,7
1,Female,52,168,96.0,34.00,70.00,26.00,0,0,0,5
2,Female,23,163,143.0,53.82,58.04,84.96,0,0,0,2
3,Female,23,176,120.0,38.74,52.59,67.41,0,0,0,0
4,Female,57,162,112.0,42.68,65.35,46.65,0,0,7,1